body{
	background-color: #F4A460;
	margin: 0;
}
br{
	padding:5px;
}
header {
	background-color:#FFE4B5;
	width:1349px;
	height:100px;

}

.title{
	height: 12.5vh;
	display: grid;
	grid-template-columns:  .35fr 4fr;
	width: 80%;
	margin: auto;
	height: 50px;
}
.br{
	padding: 1px;
}
.logo{
	height: 11.5vh;
	padding:4px;
	background-image: url(../Images/L.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: ;
	border-spacing: 2px;
	border-radius: 90px;
	margin-top: 7px;
}
.name{
	text-align: right;
	font-family: letrera caps;
	font-size: 25px;
	margin-top: 0px;
	
}
.menu{
	padding: 10px;
	padding:0px;
	
}
.buttons{
	display: grid;
	padding: 0px;
	grid-template-columns: repeat(3,1fr);
	grid-gap:10px;
	margin-bottom: 10px;
	margin:10px;
}
a{
	text-decoration: none;
}
.buttons li{
	text-align: center;
	font-size: 36px;
	font-family: budmo jiggler;
	list-style: none;
	color: black;
	background-image: radial-gradient(#FFF8DC,#FFEBCD,#FFDAB9);
	border: 2px white solid;
	padding: 0px;
}

.buttons li:hover{
	color: white;
	background-image: radial-gradient(#DEB887,#FFDAB9,#FFEBCD,#FFF8DC);
	border: ;
}
.pictures{
	height: 60vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-bottom: 15px;
	margin: 10px;
}
.box1{
	height: 60vh;
	border: 2px;
	background-image: url(../Images/C1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.box2{
	height: 60vh;
	border: 2px;
	background-image: url(../Images/B7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.box3{
	height: 60vh;
	border: 2px;
	background-image: url(../Images/F2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.description{
	height: 70vh;
	padding: 10px;
	font-size: 26px;
	margin-bottom: 10px;
	background-image: #;
	background-color:#FFE4B5;
}
.description h1{
	text-align: center;
}
.description p{
	text-indent: 4em;
}
.nnet{
	height: 10vh;
}
.nnet h1{
	text-align: center;
	border: 2px ;
	color: #F0FFFF;
}
.net{
	height: 24.5vh;
	display: grid;
	padding: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 200px;
	margin:0px 50px 20px 50px;

}
.box4{
	border: 3px white solid;
	border-radius: 90px;
	background-image: url(../Images/M2.jpg);
	background-repeat: no repeat;
	background-size:cover;
	background-position: center;
}
.box5{
	border: 2px white solid;
	border-radius: 90px;
	background-image: url(../Images/M1.jpg);
	background-repeat: no repeat;
	background-size:cover;
	background-position: center;
}
.box6{
	border: 3px white solid;
	border-radius: 90px;
	background-image: url(../Images/M3.jpg);
	background-repeat: no repeat;
	background-size:cover;
	background-position: center;
}
.box7{
	border: 3px white solid;
	border-radius: 90px;
	background-image: url(../Images/M4.jpg);
	background-repeat: no repeat;
	background-size:cover;
	background-position: center;
}
.namae{
	padding:0px;
}
.N{
	display: grid;
	padding: 0px;
	grid-template-columns: 1.3fr 1.5fr 1.5fr 1.3fr;
	grid-gap:18px;
	margin-bottom: 10px;
}
.N li{
	text-align: center;
	font-size: 22px;
	font-family: budmo jiggler;
	list-style: none;
	color: white;
	border: 2px ;
	padding: 0px;
}
.footer{
	height: 3vh;
	padding: 0px;
	background-color: #F0F8FF;
}
.footer p{
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	background-color:#FFE4B5;
}